insightface>=0.7.3
onnxruntime>=1.16.0
boxmot>=10.0.43
torch>=2.1.0
torchaudio>=2.1.0
python_speech_features
scipy
vosk
sounddevice
fastapi
uvicorn[standard]
websockets
opencv-python
numpy>=1.24.0
gdown
